.aboutSection {
  background-color: #f8f8f8;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aboutContent {
  flex: 2;
}

.aboutContent h3 {
  color: #d11616;
  margin-top: 25px;
  margin-bottom: 15px;
}

.aboutContent p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.aboutImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mascotImage {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .aboutContainer {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .aboutContent {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  
  .aboutContent h3 {
    margin-top: 2rem;
  }
}
